hr{
    border-bottom-style: dotted;
}
.box{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
}
.text{
    padding-left: 15px;
}
.heading{
    text-decoration: solid;
}






.navbar-expand-lg{
    width: 100%;
    position: fixed;
    
}
nav.navbar{
    z-index: 4;
}
.nav2{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;

}
.nav2-div{
    display: flex;
    justify-content: space-between;    
}

.document-writer{
    margin: 10px 20px;
}
.options{
    margin-left: 500px;
    display: flex;
    margin-right: 30px;    
    flex-grow: 1.5;
}
.nav-link{
    padding-left: 10px;
    padding-right: 15px;
}
#footer{
    padding: 5% 10%;
    
}
.social-icon{
    margin: 20px 10px;
}
.ul-footer{
    list-style: none;
    text-align: left;
}
.footer-div{
    display: inline-block;   
}
.end{
    text-align: center;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.a-footer{
    text-decoration: none;
    color: black;
}
.span-footer{
    color: blue;
}
