h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.button{
    text-align: center;
}
.field{
    display: flex;
   margin-top: 10px;
   margin-bottom: 10px;
}